{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "plugins": [
    "react",
     "babel"
  ],
  "globals": {
    "expect": true,
    "global": true,
    "window": true,
    "sinon": true,
    "debug": true,
    "React": true,
    "PropTypes": true,
    "_": true,
    "helpers": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
